:root {
  --cream-7402: rgb(237, 222, 156);
  --blue-280: rgb(0, 36, 125);
  --blue-286: rgb(0, 51, 171);
  --blue-300: rgb(0, 110, 199);
  --green-347: rgb(0, 153, 89);
  --green-360: rgb(108, 194, 74);
  --red-186: rgb(200, 16, 46);
  --yellow-109: rgb(247, 212, 23);
  --yellow-116: rgb(247, 209, 23);
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  background-image: linear-gradient(to right, black, gray);
}

#deets {
  display: none;
  position: absolute;
  z-index: 2;
  background-color: white;
  margin: 1rem;
  padding: 1rem;
  border: .1rem solid black;
  border-radius: .5rem;
}

#flagBox:hover #deets {
  display: block;
}

#star {
  clip-path: polygon(50% 0%, 61% 35%,
                      98% 35%, 68% 57%,
                      79% 91%, 50% 70%,
                      21% 91%, 32% 57%,
                      2% 35%, 39% 35%);
  background-color: rgb(255, 205, 0);
}
